
* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: gray;
}
.continuer{
    text-align: center;
}
.continuer .button{
    cursor: pointer;
    width: 200px;
    background: orangered;
    font-size:25px;
     padding: 15px;
    border: none;
    outline: none;
    color: white;
}